<html>
    <head>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" />
    </head>
    <body>
        <div class="wrapper">
            <h1>
                |Be a hero. Adopt a dog.
            </h1>
        </div>
    </body>
</html>