html {
    font-size: 8px;
}

@media screen and (min-width: 24.25rem) {
    html {
        font-size: calc(100vw / 48.5);
    }
}

body { 
    margin: 0; 
    background: rgb(32, 34, 37); 
    color: #fafafa; 
    font-family: 'Montserrat', sans-serif; 
}
.wrapper { 
    justify-content: space-around; 
    background-color: rgb(42, 44, 49);
    width: 30rem;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.block {
    background-color: rgb(47, 49, 54);
    display: grid;
    grid-template-columns: 2rem 3rem auto auto;
    grid-row-gap: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    grid-template-rows: 5rem;
}

.rank {
    text-align: center;
    align-self: center;
}

.avatar {
    height: 3rem;
    border-radius: 50%;
    display: block;
}

.user {
    background: blue;
    text-align: center;
    align-self: center;
}

.exp {
    text-align: center;
    align-self: center;
    background-color: red;
}
